@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
  box-sizing: border-box;
  font-family: "Lora" , serif; 
  
}

.Informacion{
    
    padding: 25px ;
    
}

.cabecera{
     padding-left: 20px;
     

}

.cuerpo{
    position: relative;
    width: 1800px;
    text-align: justify;
    left: 2%;
    top: 50%;
    padding: 10px;
}

.pie-pagina{

    padding-left: 25px;
    padding-top: 30px;

}

